<html>
    <head>
        <meta charset="utf-8"/>
        <title>Search GIF</title>
    </head>
    <body>
        <div align="center">
            <form>
                <label for="search">Search GIF:</label>
                <input type="text" id="search" name="search" placeholder="GIF you want to search">
                <button type="submit">Search</button>
            </form>
            {% if gifs %}
                {% for gif in gifs %}
                    {% set i = loop.index %}
                    {% if (loop.index - 1) % 2 == 0 %}
                        <br/>
                    {% endif %}
                        <img src={{gif}} alt={{gifs_description[loop.index0]}}>
                {% endfor %}
                <a href="/search_gif?search={{params}}"><h4>Next GIFs under the request `{{user_query}}`</h4></a>
            {% endif %}
            <a href="/"><h4>Return to home page</h4></a>
        </div>
    </body>
</html>